body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    overflow: hidden; /* Disable scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333; /* You can adjust the background color */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(70%) blur(2px); /* Adjust the values as needed for the darkening and blurring effect */
}

.center-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text h1 {
    color: #fff; /* White text color */
    font-size: 24px;
}
